.cabecera{
	height: 520px;
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */
}

.subheader{
	height: 100px;
	background-color: rgba(0, 0, 0,0.9);
	padding: 10px;
}

.box-logo{
	margin-right: auto;
	margin-left: auto;
	padding-left: 480px;
	padding-top: 50px;
	
}

.logo{
	width: 300px;
	height: 250px;
	margin: 0;
	-webkit-transition: -webkit-transform 0.5s;
}

.logo:hover{
	-webkit-transform: rotate(360deg);
}

.Text{
	font-weight: bold;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	margin: 0;
	color: yellowgreen;
	text-shadow: 3px 3px 3px rgb(30, 37, 20);
}

.imgn{
	width: 70px;
	height: 70px;
	margin-left:10px;
	margin-right: 10px;
	margin-top: 10px;
}
.Text>h1{
	margin: 0px;
}

.uno{
	width: 90px;
	height: 110px;
	background: rgb(201,222,150); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */

	box-shadow: 3px 3px 3px #000;
	margin-left: 10px;
	display:inline-block;
	bottom:100px;
}

.uno>p{
	margin: 0;
	text-align: center;
	font-size: 15px;
	font-family: Arial;
	text-decoration: none;
}

.uno:hover{
	-webkit-transform: scale(0.95,0.95);
	background: rgb(57,130,53); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(57,130,53,1) 0%, rgba(138,182,107,1) 56%, rgba(201,222,150,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(57,130,53,1)), color-stop(56%,rgba(138,182,107,1)), color-stop(100%,rgba(201,222,150,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(57,130,53,1) 0%,rgba(138,182,107,1) 56%,rgba(201,222,150,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(57,130,53,1) 0%,rgba(138,182,107,1) 56%,rgba(201,222,150,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(57,130,53,1) 0%,rgba(138,182,107,1) 56%,rgba(201,222,150,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(57,130,53,1) 0%,rgba(138,182,107,1) 56%,rgba(201,222,150,1) 100%); /* W3C */
}